<div class="splash">
  <div class="ui container">
    <h1 class="ui inverted header logo">
      Welcome to Trailmap.
    </h1>
    <div class="ui inverted divider">
    </div>
    <p>Office beef noodles woman stimulate hacker artisanal narrative San Francisco Shibuya. Futurity convenience store-ware computer city courier realism assassin euro-pop Tokyo dissident monofilament. Kanji artisanal tanto convenience store sign human BASE jump shrine computer carbon industrial grade grenade sprawl boy. Weathered convenience store youtube grenade otaku semiotics industrial grade augmented reality assault.</p>
  </div>
</div>
<div class="options">
  <div class="ui container">
    <div class="ui stackable equal width center aligned padded two column grid">
      <div class="column">
      {{#link-to 'filters' class=""}}
        <button class="ui massive inverted button"><i class="inverted map pin icon"></i>Track Your Route</button>
      {{/link-to}}
      </div>
      <div class="column">
      {{#link-to 'filters' class=""}}
        <button class="ui massive inverted button"><i class="inverted map icon"></i>LandLine Network</button>
      {{/link-to}}
      </div>
    </div>
  </div>
  <div class="other-content">
    <div class="ui container">
      <div class="ui basic segment">
        <h2 class="ui inverted header">
          What is this?
        </h2>
        <p>Hacker neon marketing RAF pistol post-fetishism futurity. Systemic voodoo god render-farm euro-pop dolphin shoes dome cartel girl Chiba A.I.. Dome euro-pop dead systema engine shrine j-pop rifle. Long-chain hydrocarbons paranoid geodesic voodoo god San Francisco digital apophenia realism concrete dolphin sub-orbital. Shoes fetishism girl voodoo god 8-bit RAF city DIY semiotics cartel silent shrine. </p>
      </div>
      <div class="ui basic segment">
        <h2 class="ui inverted header">
          Why?
        </h2>
        <p>Hacker neon marketing RAF pistol post-fetishism futurity. Systemic voodoo god render-farm euro-pop dolphin shoes dome cartel girl Chiba A.I.. Dome euro-pop dead systema engine shrine j-pop rifle. Long-chain hydrocarbons paranoid geodesic voodoo god San Francisco digital apophenia realism concrete dolphin sub-orbital. Shoes fetishism girl voodoo god 8-bit RAF city DIY semiotics cartel silent shrine. </p>
      </div>
    </div>
  </div>
  <footer>
    <div class="ui stackable equal width center aligned padded three column grid">
      <div class="column">
        MAPC
      </div>
      <div class="column">
        MAPC
      </div>
      <div class="column">
        MAPC
      </div>
    </div>
  </footer>
</div>
