<div class="splash">
  <div class="ui container">
    <h1 class="ui inverted header logo" style="display: none;">
      Welcome to Trailmap.
    </h1>
    <div class="ui inverted divider">
    </div>
    <p style="display: none;">Office beef noodles stimulate hacker artisanal narrative San Francisco Shibuya. Futurity convenience store-ware computer city courier realism euro-pop Tokyo dissident monofilament.</p>
  </div>
</div>
<div class="options">
  <div class="ui container">
    <div class="ui stackable equal width center aligned padded two column grid">
      <div class="column">
      {{#link-to 'filters' class="option hidden" style="display: none;"}}
        <button class="ui massive inverted button"><i class="inverted map pin icon"></i>Track Your Route</button>
      {{/link-to}}
      </div>
      <div class="column" style="display: none;">
      {{#link-to 'filters' class="option hidden" style="display: none;"}}
        <button class="ui massive inverted button"><i class="inverted map icon"></i>LandLine Network</button>
      {{/link-to}}
      </div>
    </div>
  </div>
  <div class="other-content">
    <div class="ui container">
      <div class="ui basic segment">
        <h2 class="ui inverted header">
          What is this?
        </h2>
        <p style="display: none;">Hacker neon marketing RAF pistol futurity. Systemic voodoo god render-farm euro-pop dolphin shoes dome cartel girl Chiba A.I.. Dome euro-pop dead systema engine shrine j-pop rifle. Long-chain hydrocarbons paranoid geodesic voodoo god San Francisco digital realism concrete dolphin sub-orbital. Shoes  girl voodoo god 8-bit RAF city DIY semiotics cartel silent shrine. </p>
      </div>
      <div class="ui basic segment">
        <h2 class="ui inverted header">
          Why?
        </h2>
        <p style="display: none;">Hacker neon marketing RAF pistol futurity. Systemic voodoo god render-farm euro-pop dolphin shoes dome cartel girl Chiba A.I.. Dome euro-pop dead systema engine shrine j-pop rifle. Long-chain hydrocarbons paranoid geodesic voodoo god San Francisco digital realism concrete dolphin sub-orbital. Shoes voodoo god 8-bit RAF city DIY semiotics cartel silent shrine. </p>
      </div>
    </div>
  </div>
  <footer>
    <div class="ui stackable equal width center aligned padded three column grid">
      <div class="column">
        MAPC
      </div>
      <div class="column">
        MAPC
      </div>
      <div class="column">
        MAPC
      </div>
    </div>
  </footer>
</div>
