<div class="splash">
  <div class="ui container">
    <h1 class="ui inverted header logo" style="display: none;">
      Welcome to Trailmap
    </h1>
    <div class="ui inverted divider">
    </div>
    <p style="display: none;">Trailmap is a growing compendium of the region's walking and bicycling facilities. Trailmap hopes to provide a single place for planning and exploring the region by foot and on bicycle.
</p>
  </div>
</div>
<div class="options">
  <div class="ui container">
    <div class="ui stackable equal width center aligned padded two column grid">
      <div class="column">
        <a class="option hidden" {{action trackLocation}}>
          <button class="ui massive inverted button"><i class="inverted map pin icon"></i>Trails Near You</button>
        </a>
      </div>
      <div class="column" style="display: none;">
        {{#link-to 'filters' (query-params bike_fac_type='' dual_fac_type='' land_line_type=true walk_fac_type='') class="option hidden"}}
          <button class="ui massive inverted button"><i class="inverted map icon"></i>LandLine Network</button>
        {{/link-to}}
      </div>
    </div>
  </div>
  <div class="other-content">
    <div class="ui container">
      <div class="ui basic segment">
        <h2 class="ui inverted header">
          Who made this map?
        </h2>
        <p style="display: none;">This map was created by MAPC with contributions from cities, towns, state agencies, land trusts, other organizations, and individuals. This map is updated on a regular basis, incorporating new data and corrections. However, Data gaps exist, particularly with walking trails.
       </p>
      </div>
      <div class="ui basic segment">
        <h2 class="ui inverted header">
         What is the data on this map?
        </h2>
        <p style="display: none;">Walking Facilities - include hiking trails in conservation lands, paths through campuses, institutions, city parks, and other pedestrian facilities that are not along roadways. Bicycle Facilities – includes on-road designated facilities including bicycle lanes, shared lane markings, cycle tracks, and select on-road connections. Shared Use Paths – includes trails on former railroad rights-of-way, rivers, and other corridors which are designed for shared use by cyclists, walkers, and other nonmotorized transport. Improved paths are either paved, or with a stabilized firm surface, ideal for use by road bicycles, wheelchairs, strollers etc. Unimproved paths have a rough surface, and are therefore generally limited to hiking and mountain biking uses. Regional Networks – includes linear corridors that have been signed or otherwise designated. Walking trails include the Bay Circuit, Charles River Link, Warner Trail, Western Greenway, and proposed Metrowest aqueduct trail system. Bicycle routes include the East Coast Greenway and the Claire Saltonstall Bikeway.
        </p>
      </div>
    </div>
  </div>
  <footer>
    <div class="ui stackable equal width center aligned padded three column grid">
      <div class="column">
        MAPC
      </div>
      <div class="column">
        MAPC
      </div>
      <div class="column">
        MAPC
      </div>
    </div>
  </footer>
</div>
