html {
  height:100%;
}

body {
  height:100%; 
}

.ember-application > .ember-view {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 1000;
  padding: 15px;
  margin: 15px;
  max-width: 50%;
  background-color: white;
}

main {
  display: flex;
  flex: 1;
  /*background: green;*/
}

#dashboard {
  height: 100%;
}

.leaflet-container {
  display: flex;
  width: 100%;
  flex-direction: row;
}