html {
  height:100%;
  margin: 0;
}

body {
  height:100%;
  margin:0;
}

main {
  height:100%;
  margin:0;
}

.ember-application > .ember-view {
  height: 100%;
  margin:0;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}



/* filters */

h3:first-child {
  margin-bottom: 0px;
}

.ui.vertical.menu {
  width: 22rem;
}

.filters {
  position: absolute;
  margin: 1em;
  z-index: 1;
}

/* special */
.ui.segment.track-route {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1em;
  z-index: 1;
}

.ui.menu .item.legend {
 padding-left: 4em;
}

.ui.menu .item.legend {
  color: #767676;
}


/* carto */

.cartodb-logo {
  display: none !important;
}


/* leaflet */
/*.leaflet-bar {
  border-radius: 0px;
  box-shadow: none;
}

.leaflet-bar a:first-child {
  border-radius: 0px;
}

.leaflet-bar a:last-child {
  border-radius: 0px;
}

.leaflet-bar a {
  color: white;
  border-radius: 0;
  background-color: rgba(0,0,0,0.8);
}
*/

.ui.loader.map.active {
  background-color: rgba(255,255,255,.8);
  border-radius: 300px;
  border-color: white;
}

.leaflet-control-attribution  {
  display: none;
}
