<div id="wrapper">
  <div id="main">
    <article id="about">
      <h2 class="major">About</h2>
      <!--<span class="image main"><img src="images/pic03.jpg" alt="" /></span>-->
      <p><h3>What Trailmap Includes</h3>
        
        This map is a comprehensive map of pedestrian and bicycle facilities throughout the MAPC region and beyond. The data on this map tool has been collected from a number of sources including city/town trail data, land trusts, DCR, MassDOT, openstreetmap, and other sources.  The information provided includes:<br></p>

        <li>Foot Trails through parks and other open spaces, paths through campuses, and generally all areas accessible by foot that are not along a roadway</li>
        <li>Bicycle Facilities on roadways including protected bike lanes, bike lanes and shared lane markings</li>
        <li>Multi-use paths that accommodate foot, bike, and other non motorized uses. Includes rail trails, river path systems and other similar trails</li>
        <li>LandLine Network: The LandLine vision is an overlay or network of connected trails, bike facilities and roadways.For further information on LandLine,  MAPC’s plan to develop Metro Boston’s greenway network can be found <a href="http://mapc.org/landline">mapc.org/landline</a></li>

        <p><i>Disclaimer
        The data herein is provided for informational purposes only. MAPC makes no warranties, either expressed or implied, and assumes no responsibility for its completeness or accuracy. Users assume all responsibility and risk associated with use of the map and agree to indemnify and hold harmless MAPC with respect to any and all claims and demands that may arise resulting from use of this map.​</i></p>
    </article>
  </div>
</div>

<!-- BG -->
<div id="bg"></div>