<nav class="filters">
  <div class="ui link vertical compact menu">
    <h2 class="ui attached header inverted">Trailmap</h2>
    {{#ui-accordion}}
      <h3 class="ui attached active title header inverted" id="has-info-tooltip">
        <i class="dropdown icon"></i>
        Bike
      </h3>
      <div class="active content">
        {{scoped-array-checklist 
          optionList=bikeMetaData.domain.codedValues 
          valuesList=bike_fac_type}}
      </div>
    {{/ui-accordion}}
    {{#ui-accordion}}
      <h3 class="ui attached header title inverted">
        <i class="dropdown icon"></i>
        Walk
      </h3>
      <div class="content">
        {{scoped-array-checklist 
          optionList=walkMetaData.domain.codedValues 
          valuesList=walk_fac_type}}
      </div>
    {{/ui-accordion}}
  </div>
</nav>



<main>
  {{#leaflet-map lat=lat lng=lng zoom=zoom zoomControl=true onCartoLayerLoad='test' onLoad='getMap' onMoveend=(action "updatePosition") as |layers|}}
    {{tile-layer url='http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png'}}
    {{cartodb-layer 
      sql=sqlMapping url='https://mapc.carto.com/u/mapc-admin/api/v2/viz/08794274-bbce-11e6-8fba-0e233c30368f/viz.json' 
      zIndex=1 legends=false search=true}}
  {{/leaflet-map}}
</main>