<div id="wrapper">
  <div id="main">
    <article id="work">
      {{link-to 'Close' 'index' tagName='div' class='close'}}
      <h2 class="major">Add and Export Data</h2>
      <!--<span class="image main"><img src="images/pic02.jpg" alt="" /></span>-->
      <p><b>Contribute to this Map</b><br>
      We welcome contributions to this map including adding to and editing the data! We have an online editing tool available for you to use. To found out how to access the editing functions, please contact David Loutzenheiser at <a href="mailto:dloutzenheiser@mapc.org">dloutzenheiser@mapc.org</a></p>

      <p><b>Export GIS Data</b><br>
      The MAPC Trailmap database is available for download in Arcmap format for organization or agency use to create or supplement their maps.<br>
      <a href="https://mapc-org.sharefile.com/d-s74fbcc6149a40478">Download here</a></p><br>

      <p><i>Disclaimer<br>
      The data herein is provided for informational purposes only. MAPC makes no warranties, either expressed or implied, and assumes no responsibility for its completeness or accuracy. Users assume all responsibility and risk associated with use of the map and agree to indemnify and hold harmless MAPC with respect to any and all claims and demands that may arise resulting from use of this map.​</i></p>
    </article>
  </div>
</div>

<!-- BG -->
<div id="bg"></div>
