  <div id="wrapper">

  <!-- Header -->
  <header id="header">
    <div class="content">
      <div class="inner">
        <h1 class="htmlup">MAPC Trailmap</h1>
        <p>Explore a comprehensive network of foot trails and bicycle paths across metro Boston</p>
      </div>
    </div>
    <nav>
      <ul>
        <li>{{link-to 'Desktop: View the Map' 'desktop' class="button next scrolly"}}</li>
        <li>{{link-to 'Mobile: Your GPS Location' 'mobile' class="button next scrolly"}}</li>
        <li>{{link-to 'About' 'about'}}</li>
        <li>{{link-to 'Add & Export Trails Data' 'contribute'}}</li>
      </ul>
    </nav>
  </header>


  <!-- Footer -->
  <footer id="footer">
    <p class="copyright">&copy; Metropolitan Area Planning Council</p>
  </footer>

</div>

<!-- BG -->
<div id="bg"></div>
